<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="well text-center">BANER</div>

  <div class="container" ng-controller="mainController">

    <div flow-init
         flow-name="uploader.flow"
         flow-files-added="processFiles($files)">
      <button flow-btn type="file">Upload image</button>
      <input type="text" value="{{JSON.stringify(uploader.flow)}}">

      <div ng-repeat="image in uploader.flow.files track by $index">
        <img id="canvas2" style="max-width: 800px; max-height: 400px;" flow-img="image"/>
      </div>
    </div>

      <canvas id="canvas"></canvas>


    <button type="button" ng-click="test()">test</button>
    <button type="button" ng-click="create()">Generate view of banner</button>
    <button type="button" ng-click="downloadCanvas()">Download project</button>

  </div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="bower_components/flow.js/dist/flow.js"></script>
  <script src="bower_components/ng-flow/dist/ng-flow.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="components/controller.js"></script>
  <script src="components/fabric.min.js"></script>
</body>
</html>
